* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

nav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 20px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    color: #3d5198;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;

}
h2 {
    text-align: center;
    margin-top: 50px;
    text-decoration: wavy;

}
p {
    margin: 0 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="phone"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 150px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 15px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #555;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}


.member {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.member h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.member p {
    font-size: 0.9em;
    color: #666;
}

.member p em {
    font-style: italic;
}

.member:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.post{
    font-weight: Bold;
}


section {
    padding: 1em;
    margin: 0 auto;
    max-width: 800px;
}

strong {
    color: #3498db;
}
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e1e1e1;
}

.footer .content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .content li {
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
    color: #333;
    font-size: 14px;
}


